<div class="page-header pt-3">
    <h3><i class="fab fa-dashcube fa-fw"></i> Bienvenido</h3>
</div>

<div class="row col-md-12">
    <div class="d-flex justify-content-center gap-2">
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Categorías</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-briefcase fa-6x"></i><br>
                    <span id="idCantCate"></span> activas e inactivas
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Provedores</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-people-arrows fa-6x"></i><br>
                    9 registrados
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Clientes</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-people-group fa-6x"></i><br>
                    10 registrados
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Productos</h4>
                </div>
                <div class="card-body">
                    <i class="fa-regular fa-rectangle-list fa-6x"></i><br>
                    15 registrados
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Facturas</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-money-bill-transfer fa-6x"></i><br>
                    1 registrada
                </div>
            </div>
        </div>
    </div>
</div>