<div class="d-flex justify-content-center">
    <div class="col-md-8 mt-4">
        <h5>Administrar Productos</h5>
        <table class="table table-sm" id="tablaProducAdmin">
            <thead>
                <tr class="table-warning">
                    <th style="width: 20%;">Código</th>
                    <th style="width: 35%;">Nombre</th>
                    <th style="width: 35%;">Valor</th>
                    <th style="width: 10%;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>