<div class="d-flex justify-content-center">
    <div class="col-md-8 mt-4">
        <h5>Listado de los Productos</h5>
        <table class="table table-sm" id="tablaProductos">
            <thead>
                <tr class="table-warning">
                    <th style="width: 20%;">Código</th>
                    <th style="width: 40%;">Nombre</th>
                    <th style="width: 40%;">Valor</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>