<div class="page-header pt-3">
    <h3><i class="fas fa-plus fa-fw"></i> Actualizar Producto</h3>
  </div>
  
  <div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
      <ul class="list-group list-group-horizontal-sm">
        <a href="#producadd" style="text-decoration: none">
          <li class="list-group-item">
            <i class="fas fa-plus fa-fw"></i> Agregar
          </li>
        </a>
        <a href="#produclist" style="text-decoration: none">
          <li class="list-group-item">
            <i class="fa-solid fa-list fa-fw"></i> Lista
          </li>
        </a>
        <a href="#producmanage" style="text-decoration: none">
          <li class="list-group-item active">
            <i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar
          </li>
        </a>
      </ul>
    </div>

<div class="d-flex justify-content-center">
    <div class="col-md-5 mt-4">
        <form action="javascript:crearProduct();" id="formProduc" class="validarFormulario" novalidate>
            <div class="card">
                <div class="card-header">
                    Formulario Creación de Productos
                </div>

                <div class="card-body">

                    <div class="mb-3">
                        <label for="nom" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nom" required />
                    </div>

                    <div class="mb-3">
                        <label for="val" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="val" required />
                    </div>

                </div>

                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-primary">Crear Producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">

    <div class="col-md-5 mt-4">
        <div class="alert alert-primary" id="producMsgOk" style="display: none;">
            Producto almacenado correctamente
        </div>

        <div class="alert alert-danger" id="producMsgError" style="display: none;">
            El Producto no se pudo crear en la base de datos
        </div>
    </div>

</div>