<div class="page-header pt-3">
    <h3><i class="fas fa-plus fa-fw"></i> Actualizar Producto</h3>
  </div>
  
  <div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
      <ul class="list-group list-group-horizontal-sm">
        <a href="#producadd" style="text-decoration: none">
          <li class="list-group-item">
            <i class="fas fa-plus fa-fw"></i> Agregar
          </li>
        </a>
        <a href="#produclist" style="text-decoration: none">
          <li class="list-group-item">
            <i class="fa-solid fa-list fa-fw"></i> Lista
          </li>
        </a>
        <a href="#producmanage" style="text-decoration: none">
          <li class="list-group-item active">
            <i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar
          </li>
        </a>
      </ul>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-md-5 mt-4">
            <form action="javascript:actualizarProdu();" id="formaProduActualizar" class="validarFormulario" novalidate>
                <div class="card">
                    <div class="card-header">
                        Formulario Actualización de Productos
                    </div>
    
                    <div class="card-body">
    
                        <input type="hidden" class="form-control" id="cod" required />
                  <div>
                    <div class="mb-3">
                      <div class="col form-floating">
                        <input
                          type="text"
                          class="form-control"
                          id="nom"
                          required
                          placeholder="place"
                          style="background-image: none"
                        />
                        <label
                          for="usu"
                          style="color: #00000042; padding: 0.6rem"
                        >
                          Nombre del Producto</label
                        >
                      </div>
                    </div>

                    <div class="mb-3">
                        <div class="col form-floating">
                          <input
                            type="text"
                            class="form-control"
                            id="val"
                            required
                            placeholder="place"
                            style="background-image: none"
                          />
                          <label
                            for="usu"
                            style="color: #00000042; padding: 0.6rem"
                          >
                            Valor del Producto</label
                          >
                        </div>
                      </div>
    
                    </div>
    
                    <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-primary">Actualizar Producto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

  
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-4">
        <div
          class="alert alert-primary alert-dismissible fade show"
          role="alert"
          id="producMsgOk"
          style="display: none"
        >
          El Producto <strong>fue actualizado</strong> correctamente
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
  
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
          id="producMsgError"
          style="display: none"
        >
          El Producto <strong>NO fue actualizado</strong> en la base de datos
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
  